apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: web-app
  namespace: argocd
spec:
  project: default    

  source:
    repoURL: https://github.com/OtowoSamuel/minikube-deployment-demo.git
    targetRevision: master
    path: apps/dev/web-app

  destination:
    server: https://kubernetes.default.svc
    namespace: web-app

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true